@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    padding-top: 100px;
   
  }

  .btn.btn-default {
    border-color: #00ce80;
  }

  .btn.btn-danger {
    border-color: red;
    background-color: white;
    color: black;
  }

 .glyphicon {
   margin-right: 2px;
 }

 .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f4f4f4f4;
  color: black;
  text-align: center;
  height: 50px;
 }

 .footer p {
   padding: 10px;
 }

 .footer a {
   padding: 15px;
 }